body{
    margin:0;
    width: 98.5vw;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}

.Header{
    max-width: 1450px;
    width: 100%;
    height: 75px;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    align-items: center;
}

.HeaderButton1{
    height: 30px;
    width: 30px;
    cursor: pointer;
    background-image: url("Images/searchBar.png");
    background-size: cover;
    margin-left: auto;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.HeaderButton2{
    height: 36px;
    width: 36px;
    cursor: pointer;
    background-image: url("Images/shopCart.png");
    background-size: cover;
    margin-left: 8px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.HeaderButton3{
    height: 36px;
    width: 36px;
    cursor: pointer;
    background-image: url("Images/Person.png");
    background-size: cover;
    margin-left: 8px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.HeaderButton4{
    height: 36px;
    width: 36px;
    cursor: pointer;
    background-image: url("Images/hamburgerMenu.png");
    background-size: cover;
    margin-right: 25px;
    margin-left: 8px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.Hero{
    max-width: 1450px;
    max-height: 600px;
    width: 100%;
    height: 42vw;
    background-image: url("Images/Slider1.PNG");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.TopContent{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    padding-top: 50px;
}

.TopContentSelector{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SliderButton{
    width: 30px;
    height: 30px;
    border: none;
    background-color: rgba(0, 0, 0, 0.584);
    border-radius: 20px;
    color: rgb(246, 246, 246);
    font-size: 20px;
    font-family:'PT Sans Caption';
    font-weight:100;
    cursor: pointer;
}

.HeroContent{
    margin-left: 30px;
    height: 80%;
    width: 40%;
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.HeroContentTitle{
    font-family: 'PT Sans Caption';
    font-weight: 700;
    font-size: 1.2vw;
}

.HeroContentHook{
    font-family: 'PT Sans Caption';
    font-weight: 700;
    font-size: 3.1vw;
}

.HeroContentBenefit{
    font-family: 'PT Sans Caption';
    font-weight: 400;
    font-size: 1.2vw;
}

.HeroContentButton{
    background-color: black;
    color:white;
    width: 18%;
    height: 11%;
    border:none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 0.8vw;
    font-family: 'PT Sans Caption';
    font-weight: 400;
}

.FillDivHB{
    width: 14%;
    height: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.FillDiv{
    width: 100%;
    height: 2px;
    margin-right: 8%;
    background-color: rgba(116, 116, 116, 0.25);
}

.TCSButton{
    width: 18px;
    height: 18px;
    background-image: url("Images/play.png");
    background-size: cover;
    cursor: pointer;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    margin-right: 1%;
}

.NewItems{
    max-width: 1450px;
    width: 100%;
    height: 50vw;
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}

.TopItemsSelector{
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.TITContainer{
    
}

.TopItemsText{
    font-family: 'PT Sans Caption';
    font-weight: 700;
    font-size: 2.2vw;
}

.TopItemsButton{
    background-color: rgba(255, 255, 255, 0);
    color: rgba(0, 0, 0, 0.795);
    font-family: 'PT Sans Caption';
    border:none;
    font-size: 1.1vw;
    font-weight: 700;
    cursor: pointer;
    margin-right: 15px;
}

.ItemDisplay{
    width: 100%;
    height: 85%;
    display: flex;
}

.ItemShow1{
    width: 100%;
    height:100%;
    display: flex;
}

.DuoBox{
    height:100%;
    width: 31.5%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.DuoItem{
    width: 100%;
    height: 45%;
    background-color: rgba(240, 240, 240, 0.836);
    margin: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.ItemImage{
    width: 45%;
}

.ItemTitle{
    font-family: 'PT Sans Caption';
    font-weight: 700;
    font-size: 1.05vw;
    color: rgba(0, 0, 0, 0.863);
    margin-top: 5%;
    width: 70%;
    text-align: center;
}

.ItemSavings{
    font-family: 'PT Sans Caption';
    font-weight: 400;
    font-size: .9vw;
    color:rgb(0, 153, 255);
    margin-top: 3%;
}

.FinePrint{
    font-family: 'PT Sans Caption';
    font-size: .75vw;
    color: rgba(0, 0, 0, 0.849);
    margin-top: 1.5%;
}